@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balthazar&display=swap");

*,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* HomePage */

.RecipePage {
  background-image: url(/images/recipebackground.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  border: 1px solid white;
}

.Navbar {
  top: 0;
  width: 100%;
  height: auto;
}

.container {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  color: black;
  font-family: "Balthazar", serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.logo .fa-bread-slice {
  font-size: 20px;
  margin-right: 5px;
}
.navbar-ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style-type: none;
}

.navbar-ul li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

.navbar-ul li a:hover {
  text-decoration: underline;
}

/* Recipe Main */

.recipepage_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.recipepage_bread_photo {
  height: 82vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.recipepage_bread_photo img {
  height: 320px;
  width: auto;
}

.recipepage_main_info {
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 4rem;
  color: white;
}

.breads4 {
  margin-bottom: 5rem;
}

.breads1 {
  margin-top: 5rem;
}

.recipepage_main_info h3 {
  font-family: "Dancing Script", cursive;
  color: white;
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: bold;
}

.recipepage_main_info p {
  font-family: "Roboto", sans-serif;
  line-height: 2;
  font-size: 13px;
}

/* Recipe Nutrients page */

.ingredientpage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
}

.ingredientpage_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
  align-items: center;
}

.ingredientpage_info h3 {
  font-family: "Dancing Script", cursive;
  color: black;
  font-size: 25px;
  letter-spacing: 4px;
}

.ingredientpage_info p {
  font-family: "Roboto", sans-serif;
  line-height: 2;
  font-size: 13px;
}

.ingredientpage_info button {
  font-family: "Roboto", sans-serif;
  width: 150px;
  padding: 1rem;
  background-color: #26262e;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.ingredientpage_info button:hover {
  background-color: gray;
}

.ingredientpage_photo {
  text-align: center;
  margin: auto;
}

.ingredientpage_photo img {
  height: 300px;
  width: auto;
}

/* Footer */

footer {
  width: 100%;
  height: 40vh;
  background-color: #26262e;
  color: white;
}

.footercontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.footercontact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.footersocial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  color: gray;
  font-family: "Roboto", sans-serif;
  text-align: end;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.5rem;
  font-size: 25px;
}

.footer-icon:hover {
  color: white;
  cursor: pointer;
}

.footersocial p {
  font-size: 13px;
}
.footercontact_detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  color: gray;
  font-family: "Roboto", sans-serif;
}
.footer_phone,
.footer_location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.footer-logo {
  color: white;
  font-family: "Balthazar", serif;
  font-size: 15px;
  letter-spacing: 2px;
}

.footer-logo.fa-bread-slice {
  font-size: 15px;
  margin-right: 5px;
}
